### Instructions: 
Download the Demand_Plan.csv, Inventory_Data.csv, SPY.csv files and place them in a folder in which you can access them.

---------------

1. In the cell below, import the pandas package and rename it as pd and import the numpy package and rename it as np.  Then load in Demand_Plan.csv as demand_data, Inventory_Data.csv as inventory_data, and SPY.csv as spy_data.

In [1]:
import pandas as pd
import numpy as np

%cd ../
%cd Data
%ls

demand_data=pd.read_csv('Demand_Plan.csv')
inventory_data=pd.read_csv('Inventory_Data.csv')
spy_data=pd.read_csv('SPY.csv')

/Users/Matthew/Documents/Consulting/Course_Extras/Labs
/Users/Matthew/Documents/Consulting/Course_Extras/Labs/Data
Demand_Plan.csv     Inventory_Data.csv  SPY.csv

2. In the cell below, design a lambda function that will multiply the column by 4, then add 5.  Apply this function to the 'Low' and 'High' columns in 'spy_data' using a for loop.  Come up with a naming conventory to uniquely identify your new columns.

In [2]:
target_cols = ['High','Low']
for col in target_cols:
    spy_data[col + '_Adjusted'] = spy_data[col].map(lambda x: 4*x+5)
spy_data

,Date,Open,High,Low,Close,Adj Close,Volume,High_Adjusted,Low_Adjusted
0,10/30/2020,328.279999,329.690002,322.600006,326.540009,322.004059,120287300,1323.760008,1295.400024
1,11/2/2020,330.200012,332.359985,327.239990,330.200012,325.613251,86068300,1334.439940,1313.959960
2,11/3/2020,333.690002,338.250000,330.290009,336.029999,331.362274,93294200,1358.000000,1326.160036
3,11/4/2020,340.859985,347.940002,339.589996,343.540009,338.767914,126959700,1396.760008,1363.359984
4,11/5/2020,349.239990,352.190002,348.859985,350.239990,345.374817,82039700,1413.760008,1400.439940
...,...,...,...,...,...,...,...,...,...
247,10/25/2021,454.279999,455.899994,452.390015,455.549988,455.549988,45214500,1828.599976,1814.560060
248,10/26/2021,457.200012,458.489990,455.559998,455.959991,455.959991,56075100,1838.959960,1827.239992
249,10/27/2021,456.450012,457.160004,453.859985,453.940002,453.940002,72438000,1833.640016,1820.439940
250,10/28/2021,455.459991,458.399994,455.450012,458.320007,458.320007,51437900,1838.599976,1826.800048
251,10/29/2021,455.869995,459.559998,455.559998,459.250000,459.250000,70108200,1843.239992,1827.239992

3. In the cell below, find all demand data for month '1' from 'demand_data', merge the 'inventory_data' onto it, and create a new column that calculates the ratio of demand to inventory for each row.

In [3]:
df=pd.merge(demand_data[demand_data['Month']==1],inventory_data)
df['ratio']=df['Demand']/df['Inventory as of 1/1/22']
df

,Lookup Value,SKU_ID,Warehouse,Product_Family,Demand,Year,Month,Weeks in Month,Inventory as of 1/1/22,Cost,ratio
0,11395072,1395072,W_B,PF_1,17631,2022,1,4,78423.33949,8.36,0.224818
1,11039394,1039394,W_C,PF_2,15438,2022,1,4,131276.48040,8.97,0.117599
2,11975221,1975221,W_A,PF_3,12725,2022,1,4,23069.57275,8.65,0.551592
3,11396615,1396615,W_B,PF_4,38768,2022,1,4,53988.69284,7.89,0.718076
4,11026987,1026987,W_C,PF_0,44662,2022,1,4,23517.17321,8.68,1.899123
...,...,...,...,...,...,...,...,...,...,...,...
95,11544715,1544715,W_A,PF_1,42807,2022,1,4,245670.65820,9.59,0.174245
96,11715505,1715505,W_B,PF_2,12213,2022,1,4,50657.15473,8.81,0.241091
97,11539334,1539334,W_C,PF_3,48503,2022,1,4,381863.11090,8.80,0.127017
98,11803831,1803831,W_A,PF_4,48476,2022,1,4,212824.19400,9.20,0.227775
99,11431913,1431913,W_B,PF_0,21688,2022,1,4,168545.31180,9.51,0.128678

4. In the cell below, find all of the inventory_data at warehouse 'W_A'.  Then reset the resulting DataFrame's index, and be sure to the new DataFrame does not have any new columns.

In [4]:
df2=inventory_data[inventory_data['Warehouse']=='W_A']
df2.reset_index().drop(columns = ['index'], inplace = True)
df2

   Warehouse   SKU_ID Product_Family  Inventory as of 1/1/22  Cost
2        W_A  1975221           PF_3             23069.57275  8.65
5        W_A  1885799           PF_1            128550.53350  8.57
8        W_A  1280204           PF_4            162250.94690  7.53
11       W_A  1591858           PF_2             30240.11778  9.24
14       W_A  1321497           PF_0            104462.00230  7.97
17       W_A  1352561           PF_3            134383.80140  9.44
20       W_A  1633085           PF_1              5122.78060  9.28
23       W_A  1641168           PF_4            187534.45730  7.23
26       W_A  1710785           PF_2            203867.86140  7.12
29       W_A  1287424           PF_0            244712.20790  9.19
32       W_A  1803508           PF_3            120555.48500  9.80
35       W_A  1838070           PF_1             49612.33025  8.51
38       W_A  1248060           PF_4            225326.67440  9.00
41       W_A  1544930           PF_2            130721.09240  7.56
44       W_A  1004740           PF_0            141614.77140  7.65
47       W_A  1832552           PF_3             27973.17783  8.55
50       W_A  1421180           PF_1            135237.87530  9.99
53       W_A  1482803           PF_4             55174.59584  7.91
56       W_A  1010092           PF_2            274215.89840  7.14
59       W_A  1444898           PF_0            240609.80370  9.48
62       W_A  1245657           PF_3             91968.12009  7.33
65       W_A  1470217           PF_1            207451.78980  7.03
68       W_A  1166815           PF_4            259830.63050  7.26
71       W_A  1540951           PF_2            238943.88450  9.88
74       W_A  1747756           PF_0            432783.85220  8.11
77       W_A  1336891           PF_3            105925.78290  7.49
80       W_A  1217963           PF_1            221933.14320  8.97
83       W_A  1183992           PF_4             72294.61432  7.09
86       W_A  1104927           PF_2            205266.85910  7.45
89       W_A  1919447           PF_0             27150.81755  9.43
92       W_A  1172141           PF_3            205008.66050  9.20
95       W_A  1544715           PF_1            245670.65820  9.59
98       W_A  1803831           PF_4            212824.19400  9.20

5. In the cell below, find all of the inventory_data at warehouse 'W_C'. Then reset the resulting DataFrame's index, and be sure to the new DataFrame does not have any new columns.  Then, sort the resulting DataFrame by inventory amount in descending order.

In [5]:
df3=inventory_data[inventory_data['Warehouse']=='W_A']
df3.reset_index().drop(columns = ['index'], inplace = True)
df3.sort_values('Inventory as of 1/1/22',ascending=False)

   Warehouse   SKU_ID Product_Family  Inventory as of 1/1/22  Cost
74       W_A  1747756           PF_0            432783.85220  8.11
56       W_A  1010092           PF_2            274215.89840  7.14
68       W_A  1166815           PF_4            259830.63050  7.26
95       W_A  1544715           PF_1            245670.65820  9.59
29       W_A  1287424           PF_0            244712.20790  9.19
59       W_A  1444898           PF_0            240609.80370  9.48
71       W_A  1540951           PF_2            238943.88450  9.88
38       W_A  1248060           PF_4            225326.67440  9.00
80       W_A  1217963           PF_1            221933.14320  8.97
98       W_A  1803831           PF_4            212824.19400  9.20
65       W_A  1470217           PF_1            207451.78980  7.03
86       W_A  1104927           PF_2            205266.85910  7.45
92       W_A  1172141           PF_3            205008.66050  9.20
26       W_A  1710785           PF_2            203867.86140  7.12
23       W_A  1641168           PF_4            187534.45730  7.23
8        W_A  1280204           PF_4            162250.94690  7.53
44       W_A  1004740           PF_0            141614.77140  7.65
50       W_A  1421180           PF_1            135237.87530  9.99
17       W_A  1352561           PF_3            134383.80140  9.44
41       W_A  1544930           PF_2            130721.09240  7.56
5        W_A  1885799           PF_1            128550.53350  8.57
32       W_A  1803508           PF_3            120555.48500  9.80
77       W_A  1336891           PF_3            105925.78290  7.49
14       W_A  1321497           PF_0            104462.00230  7.97
62       W_A  1245657           PF_3             91968.12009  7.33
83       W_A  1183992           PF_4             72294.61432  7.09
53       W_A  1482803           PF_4             55174.59584  7.91
35       W_A  1838070           PF_1             49612.33025  8.51
11       W_A  1591858           PF_2             30240.11778  9.24
47       W_A  1832552           PF_3             27973.17783  8.55
89       W_A  1919447           PF_0             27150.81755  9.43
2        W_A  1975221           PF_3             23069.57275  8.65
20       W_A  1633085           PF_1              5122.78060  9.28

6. In the cell below, create a DataFrame from 'spy_data' that only shows data from the 3rd quarter of 2021.  Assume a standard calendar year.

In [6]:
spy_data[(pd.to_datetime(spy_data.Date).dt.quarter==3)&(pd.to_datetime(spy_data.Date).dt.year==2021)]

,Date,Open,High,Low,Close,Adj Close,Volume,High_Adjusted,Low_Adjusted
167,7/1/2021,428.869995,430.600006,428.799988,430.429993,429.055450,53441000,1727.400024,1720.199952
168,7/2/2021,431.670013,434.100006,430.519989,433.720001,432.334930,57697700,1741.400024,1727.079956
169,7/6/2021,433.779999,434.010010,430.010010,432.929993,431.547455,68710400,1741.040040,1725.040040
170,7/7/2021,433.660004,434.760010,431.510010,434.459991,433.072571,63549500,1744.040040,1731.040040
171,7/8/2021,428.779999,431.730011,427.519989,430.920013,429.543884,97595200,1731.920044,1715.079956
...,...,...,...,...,...,...,...,...,...
226,9/24/2021,441.440002,444.670013,441.209991,443.910004,443.910004,62094800,1783.680052,1769.839964
227,9/27/2021,442.809998,444.049988,441.899994,442.640015,442.640015,61371100,1781.199952,1772.599976
228,9/28/2021,439.690002,440.040009,432.940002,433.720001,433.720001,130436300,1765.160036,1736.760008
229,9/29/2021,435.190002,437.040009,433.850006,434.450012,434.450012,82329200,1753.160036,1740.400024
230,9/30/2021,436.019989,436.769989,428.779999,429.140015,429.140015,140181200,1752.079956,1720.119996

7. In the cell below, find the rolling 30 day standard deviation of the daily returns for the SPY from January 2021 through September 2021.

In [7]:
spy_data[(pd.to_datetime(spy_data.Date).dt.month>=1)
         &(pd.to_datetime(spy_data.Date).dt.month<=9)
         &(pd.to_datetime(spy_data.Date).dt.year==2021)].rolling(30).std()#.dropna()

,Open,High,Low,Close,Adj Close,Volume,High_Adjusted,Low_Adjusted
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
226,5.440278,4.675907,5.907312,5.254381,4.874858,2.726557e+07,18.703628,23.629248
227,5.470811,4.713290,5.914601,5.289002,4.890661,2.663999e+07,18.853161,23.658405
228,5.582565,4.914026,6.238931,5.726441,5.284461,2.863169e+07,19.656103,24.955723
229,5.901278,5.251910,6.467971,6.062626,5.578951,2.847184e+07,21.007638,25.871883
230,6.132857,5.568798,6.949703,6.648240,6.112583,3.080111e+07,22.275192,27.798812

8. In the cell below, create a lamda function that will create a new column in spy_data with '1' for days with positive returns, and null for days without.  Drop days null values in this column.

In [8]:
spy_data['Returns']=spy_data['Close']-spy_data['Close'].shift(1)
spy_data['Positive']=spy_data['Returns'].map(lambda x: 1 if x >= 0 else 'null')
spy_data

,Date,Open,High,Low,Close,Adj Close,Volume,High_Adjusted,Low_Adjusted,Returns,Positive
0,10/30/2020,328.279999,329.690002,322.600006,326.540009,322.004059,120287300,1323.760008,1295.400024,NaN,null
1,11/2/2020,330.200012,332.359985,327.239990,330.200012,325.613251,86068300,1334.439940,1313.959960,3.660003,1
2,11/3/2020,333.690002,338.250000,330.290009,336.029999,331.362274,93294200,1358.000000,1326.160036,5.829987,1
3,11/4/2020,340.859985,347.940002,339.589996,343.540009,338.767914,126959700,1396.760008,1363.359984,7.510010,1
4,11/5/2020,349.239990,352.190002,348.859985,350.239990,345.374817,82039700,1413.760008,1400.439940,6.699981,1
...,...,...,...,...,...,...,...,...,...,...,...
247,10/25/2021,454.279999,455.899994,452.390015,455.549988,455.549988,45214500,1828.599976,1814.560060,2.429993,1
248,10/26/2021,457.200012,458.489990,455.559998,455.959991,455.959991,56075100,1838.959960,1827.239992,0.410003,1
249,10/27/2021,456.450012,457.160004,453.859985,453.940002,453.940002,72438000,1833.640016,1820.439940,-2.019989,null
250,10/28/2021,455.459991,458.399994,455.450012,458.320007,458.320007,51437900,1838.599976,1826.800048,4.380005,1
251,10/29/2021,455.869995,459.559998,455.559998,459.250000,459.250000,70108200,1843.239992,1827.239992,0.929993,1

9. Go finance.yahoo.com, and download the historical data of your favorite stock or ETF for September of 2021.  Then, import the data, sort it in descending order, transpose it, then export it to a CSV.

In [9]:
new_spy_data=pd.read_csv('SPY.csv')[(pd.to_datetime(spy_data.Date).dt.month==9)
         &(pd.to_datetime(spy_data.Date).dt.year==2021)]
new_spy_data.sort_values('Date', ascending=False).T#.to_csv('altered_spy.csv')

,215,214,213,230,212,229,228,227,226,225,...,223,222,211,221,220,219,218,217,216,210
Date,9/9/2021,9/8/2021,9/7/2021,9/30/2021,9/3/2021,9/29/2021,9/28/2021,9/27/2021,9/24/2021,9/23/2021,...,9/21/2021,9/20/2021,9/2/2021,9/17/2021,9/16/2021,9/15/2021,9/14/2021,9/13/2021,9/10/2021,9/1/2021
Open,450.7,450.89,452.71,436.02,451.98,435.19,439.69,442.81,441.44,439.85,...,436.53,434.88,453.32,444.92,447.32,444.62,448.12,448.64,451.04,452.56
High,452.57,451.67,452.81,436.77,453.63,437.04,440.04,444.05,444.67,444.89,...,437.91,436.56,454.05,445.37,448.36,448.41,448.34,448.92,451.49,453.11
Low,448.72,448.86,450.74,428.78,451.55,433.85,432.94,441.9,441.21,439.6,...,433.07,428.86,451.91,441.02,444.02,443.44,443.22,444.11,445.31,451.55
Close,448.98,450.91,451.46,429.14,453.08,434.45,433.72,442.64,443.91,443.18,...,433.63,434.04,453.19,441.4,447.17,447.88,444.17,446.58,445.44,451.8
Adj Close,447.546,449.47,450.018,429.14,451.633,434.45,433.72,442.64,443.91,443.18,...,433.63,434.04,451.743,441.4,445.742,446.45,442.752,445.154,444.018,450.357
Volume,57970400,56181900,51671500,140181200,47170500,82329200,130436300,61371100,62094800,76396000,...,92526100,166445500,42501000,118425000,77786700,78792200,78197100,83738600,89848000,48721400

10. Read in a fresh pull of your new stock data and SPY data, then do a left merge of the data, with your new stock being the left DataFrame.

In [10]:
spy_data=pd.read_csv('SPY.csv')

# Creating an artificially different stock
spy_data2=pd.read_csv('SPY.csv')
for col in ['Open','High','Low','Close','Adj Close','Volume']:
    spy_data2[col]=spy_data2[col]*2
#

spy_data3=pd.merge(spy_data2,spy_data,how='left',on='Date')
spy_data3

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
0,10/30/2020,656.559998,659.380004,645.200012,653.080018,644.008118,240574600,328.279999,329.690002,322.600006,326.540009,322.004059,120287300
1,11/2/2020,660.400024,664.719970,654.479980,660.400024,651.226502,172136600,330.200012,332.359985,327.239990,330.200012,325.613251,86068300
2,11/3/2020,667.380004,676.500000,660.580018,672.059998,662.724548,186588400,333.690002,338.250000,330.290009,336.029999,331.362274,93294200
3,11/4/2020,681.719970,695.880004,679.179992,687.080018,677.535828,253919400,340.859985,347.940002,339.589996,343.540009,338.767914,126959700
4,11/5/2020,698.479980,704.380004,697.719970,700.479980,690.749634,164079400,349.239990,352.190002,348.859985,350.239990,345.374817,82039700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,10/25/2021,908.559998,911.799988,904.780030,911.099976,911.099976,90429000,454.279999,455.899994,452.390015,455.549988,455.549988,45214500
248,10/26/2021,914.400024,916.979980,911.119996,911.919982,911.919982,112150200,457.200012,458.489990,455.559998,455.959991,455.959991,56075100
249,10/27/2021,912.900024,914.320008,907.719970,907.880004,907.880004,144876000,456.450012,457.160004,453.859985,453.940002,453.940002,72438000
250,10/28/2021,910.919982,916.799988,910.900024,916.640014,916.640014,102875800,455.459991,458.399994,455.450012,458.320007,458.320007,51437900
251,10/29/2021,911.739990,919.119996,911.119996,918.500000,918.500000,140216400,455.869995,459.559998,455.559998,459.250000,459.250000,70108200

11. Using the DataFrame from question 10, create a new column that shows the difference in returns between SPY and your security.

In [11]:
spy_data3['Difference']=spy_data3['Close_x']-spy_data3['Close_y']
spy_data3

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y,Difference
0,10/30/2020,656.559998,659.380004,645.200012,653.080018,644.008118,240574600,328.279999,329.690002,322.600006,326.540009,322.004059,120287300,326.540009
1,11/2/2020,660.400024,664.719970,654.479980,660.400024,651.226502,172136600,330.200012,332.359985,327.239990,330.200012,325.613251,86068300,330.200012
2,11/3/2020,667.380004,676.500000,660.580018,672.059998,662.724548,186588400,333.690002,338.250000,330.290009,336.029999,331.362274,93294200,336.029999
3,11/4/2020,681.719970,695.880004,679.179992,687.080018,677.535828,253919400,340.859985,347.940002,339.589996,343.540009,338.767914,126959700,343.540009
4,11/5/2020,698.479980,704.380004,697.719970,700.479980,690.749634,164079400,349.239990,352.190002,348.859985,350.239990,345.374817,82039700,350.239990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,10/25/2021,908.559998,911.799988,904.780030,911.099976,911.099976,90429000,454.279999,455.899994,452.390015,455.549988,455.549988,45214500,455.549988
248,10/26/2021,914.400024,916.979980,911.119996,911.919982,911.919982,112150200,457.200012,458.489990,455.559998,455.959991,455.959991,56075100,455.959991
249,10/27/2021,912.900024,914.320008,907.719970,907.880004,907.880004,144876000,456.450012,457.160004,453.859985,453.940002,453.940002,72438000,453.940002
250,10/28/2021,910.919982,916.799988,910.900024,916.640014,916.640014,102875800,455.459991,458.399994,455.450012,458.320007,458.320007,51437900,458.320007
251,10/29/2021,911.739990,919.119996,911.119996,918.500000,918.500000,140216400,455.869995,459.559998,455.559998,459.250000,459.250000,70108200,459.250000