### Instructions: 
Download the Demand_Plan.csv, Inventory_Data.csv, SPY.csv files and place them in a folder in which you can access them.

---------------

1. In the cell below, import the pandas package and rename it as pd and import the numpy package and rename it as np.

In [1]:
import pandas as pd
import numpy as np

2. In the below cell, store the data from the 'Inventory_Data.csv' in the variable 'inventory_data'.

In [2]:
%cd ../
%cd Data
%ls
inventory_data=pd.read_csv('Inventory_Data.csv')

/Users/Matthew/Documents/Consulting/Course_Extras/Labs
/Users/Matthew/Documents/Consulting/Course_Extras/Labs/Data
Demand_Plan.csv      My_First_Export.csv
Inventory_Data.csv   SPY.csv

3. In the below cell, display the first 10 rows 'inventory_data'.

In [3]:
inventory_data.head(10)

  Warehouse   SKU_ID Product_Family  Inventory as of 1/1/22  Cost
0       W_B  1395072           PF_1             78423.33949  8.36
1       W_C  1039394           PF_2            131276.48040  8.97
2       W_A  1975221           PF_3             23069.57275  8.65
3       W_B  1396615           PF_4             53988.69284  7.89
4       W_C  1026987           PF_0             23517.17321  8.68
5       W_A  1885799           PF_1            128550.53350  8.57
6       W_B  1844486           PF_2            138466.62820  9.64
7       W_C  1633773           PF_3            336074.88910  7.23
8       W_A  1280204           PF_4            162250.94690  7.53
9       W_B  1461444           PF_0            184654.85450  7.17

4. In the below cell, create a dataframe from 'demand_data' from the 'Demand_Plan.csv'.  Then use groupby to show the average 'Demand' by 'Warehouse', 'Month', and 'Year' for only warehouse 'W_A' and 'W_B'.

In [4]:
demand_data = pd.read_csv('Demand_Plan.csv')
demand_data[(demand_data['Warehouse']=='W_A')
                          |(demand_data['Warehouse']=='W_B')].groupby(['Warehouse','Month','Year']).mean()[['Demand']]

                            Demand
Warehouse Month Year
W_A       1     2022  35395.212121
          2     2022  33094.333333
          3     2022  36303.363636
          4     2022  31535.575758
          5     2022  28634.909091
          6     2022  39447.515152
          7     2022  31103.969697
          8     2022  30590.181818
          9     2022  33567.939394
          10    2022  32077.939394
          11    2022  34212.969697
          12    2022  32873.757576
W_B       1     2022  29807.558824
          2     2022  33238.529412
          3     2022  38018.382353
          4     2022  26763.000000
          5     2022  30047.794118
          6     2022  40248.147059
          7     2022  29726.676471
          8     2022  26384.029412
          9     2022  39973.352941
          10    2022  25795.529412
          11    2022  28568.647059
          12    2022  37277.117647

5. In the below cell, using 'demand_data',show the basic statistics for the 'Demand' at warehouse 'W_C'.

In [5]:
demand_data[demand_data['Warehouse']=='W_C']['Demand'].describe()

count      396.000000
mean     32452.477273
std      12593.022412
min      10001.000000
25%      22206.750000
50%      31907.000000
75%      42538.500000
max      61286.000000
Name: Demand, dtype: float64

6. In the below cell, using 'demand_data',find the 'SKU_ID' with the highest demand for each 'Product_Family' at warehouse 'W_B'.

In [6]:
demand_data[demand_data['Warehouse']=='W_B'].groupby(['Product_Family']).max()['SKU_ID']

Product_Family
PF_0    1841568
PF_1    1987197
PF_2    1943544
PF_3    1797094
PF_4    1814880
Name: SKU_ID, dtype: int64

7. In the below cell, retrieve the first row of 'demand_data' and export it to a CSV with the name 'My_First_Export'.

In [7]:
demand_data.head(1).to_csv('My_First_Export.csv')

8. Find all demand_data for 'Product_Family' 'PF_3', then, use the merge method to pull in the inventory positions for those SKUs. Your final data set should contain no rows with blank 'Demand'. Output your data to CSV title 'PF_3_All_Data'.

In [8]:
demand_data[demand_data['Product_Family']=='PF_3'].merge(inventory_data,how='inner',on=['SKU_ID','Product_Family'])

,Lookup Value,SKU_ID,Warehouse_x,Product_Family,Demand,Year,Month,Weeks in Month,Warehouse_y,Inventory as of 1/1/22,Cost
0,11975221,1975221,W_A,PF_3,12725,2022,1,4,W_A,23069.57275,8.65
1,21975221,1975221,W_A,PF_3,31403,2022,2,4,W_A,23069.57275,8.65
2,31975221,1975221,W_A,PF_3,45321,2022,3,5,W_A,23069.57275,8.65
3,41975221,1975221,W_A,PF_3,47748,2022,4,4,W_A,23069.57275,8.65
4,51975221,1975221,W_A,PF_3,27472,2022,5,4,W_A,23069.57275,8.65
...,...,...,...,...,...,...,...,...,...,...,...
235,81539334,1539334,W_C,PF_3,32549,2022,8,4,W_C,381863.11090,8.80
236,91539334,1539334,W_C,PF_3,19731,2022,9,5,W_C,381863.11090,8.80
237,101539334,1539334,W_C,PF_3,11524,2022,10,4,W_C,381863.11090,8.80
238,111539334,1539334,W_C,PF_3,17275,2022,11,4,W_C,381863.11090,8.80
239,121539334,1539334,W_C,PF_3,53392,2022,12,5,W_C,381863.11090,8.80

9. In the cell below, mirror the DataFrame created in the section on shifting, except calculate the two day return instead of the daily return. You will need to read in the SPY data again, and ensure to drop 'Open', 'High','Low','Close',and 'Volume'.

In [9]:
spy=pd.read_csv('SPY.csv')
spy.drop(['Open', 'High','Low','Close','Volume'],axis=1,inplace=True)
spy['2day_Return_%'] = spy['Adj Close']/spy['Adj Close'].shift(-2)-1
spy

           Date   Adj Close  2day_Return_%
0    10/30/2020  322.004059      -0.028242
1     11/2/2020  325.613251      -0.038831
2     11/3/2020  331.362274      -0.040572
3     11/4/2020  338.767914      -0.018906
4     11/5/2020  345.374817      -0.012184
..          ...         ...            ...
247  10/25/2021  455.549988       0.003547
248  10/26/2021  455.959991      -0.005149
249  10/27/2021  453.940002      -0.011562
250  10/28/2021  458.320007            NaN
251  10/29/2021  459.250000            NaN

[252 rows x 3 columns]

10. In the cell below, find the average daily return of SPY for February, 2021.

In [10]:
spy[(pd.to_datetime(spy.Date).dt.year==2021)&(pd.to_datetime(spy.Date).dt.month==2)]['2day_Return_%'].mean()

-0.0024446039498337187

11. Pull the demand data for 'Product_Family' 'PF_1' in month '1', and inventory data for 'Product_Family' PF_2. Concatenate these two Dataframes and include a new column to the resulting DataFrame specifying which data source each row of data is from.

In [11]:
df_one=demand_data[(demand_data['Product_Family']=='PF_1')&(demand_data['Month']==1)]
df_two=inventory_data[inventory_data['Product_Family']=='PF_2']
df_one['source']='Demand'
df_two['source']='Inventory'
pd.concat([df_one,df_two])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,Cost,Demand,Inventory as of 1/1/22,Lookup Value,Month,Product_Family,SKU_ID,Warehouse,Weeks in Month,Year,source
0,NaN,17631.0,NaN,11395072.0,1.0,PF_1,1395072,W_B,4.0,2022.0,Demand
5,NaN,37943.0,NaN,11885799.0,1.0,PF_1,1885799,W_A,4.0,2022.0,Demand
10,NaN,35654.0,NaN,11118364.0,1.0,PF_1,1118364,W_C,4.0,2022.0,Demand
15,NaN,14407.0,NaN,11950549.0,1.0,PF_1,1950549,W_B,4.0,2022.0,Demand
20,NaN,18798.0,NaN,11633085.0,1.0,PF_1,1633085,W_A,4.0,2022.0,Demand
25,NaN,38408.0,NaN,11661410.0,1.0,PF_1,1661410,W_C,4.0,2022.0,Demand
30,NaN,49892.0,NaN,11578653.0,1.0,PF_1,1578653,W_B,4.0,2022.0,Demand
35,NaN,15533.0,NaN,11838070.0,1.0,PF_1,1838070,W_A,4.0,2022.0,Demand
40,NaN,31595.0,NaN,11879235.0,1.0,PF_1,1879235,W_C,4.0,2022.0,Demand
45,NaN,37230.0,NaN,11961719.0,1.0,PF_1,1961719,W_B,4.0,2022.0,Demand
50,NaN,43700.0,NaN,11421180.0,1.0,PF_1,1421180,W_A,4.0,2022.0,Demand
55,NaN,36142.0,NaN,11186743.0,1.0,PF_1,1186743,W_C,4.0,2022.0,Demand
60,NaN,18782.0,NaN,11987197.0,1.0,PF_1,1987197,W_B,4.0,2022.0,Demand
65,NaN,43925.0,NaN,11470217.0,1.0,PF_1,1470217,W_A,4.0,2022.0,Demand
70,NaN,34745.0,NaN,11542320.0,1.0,PF_1,1542320,W_C,4.0,2022.0,Demand
75,NaN,44709.0,NaN,11411516.0,1.0,PF_1,1411516,W_B,4.0,2022.0,Demand
80,NaN,38953.0,NaN,11217963.0,1.0,PF_1,1217963,W_A,4.0,2022.0,Demand
85,NaN,36629.0,NaN,11665271.0,1.0,PF_1,1665271,W_C,4.0,2022.0,Demand
90,NaN,21550.0,NaN,11602257.0,1.0,PF_1,1602257,W_B,4.0,2022.0,Demand
95,NaN,42807.0,NaN,11544715.0,1.0,PF_1,1544715,W_A,4.0,2022.0,Demand
1,8.97,NaN,131276.48040,NaN,NaN,PF_2,1039394,W_C,NaN,NaN,Inventory
6,9.64,NaN,138466.62820,NaN,NaN,PF_2,1844486,W_B,NaN,NaN,Inventory
11,9.24,NaN,30240.11778,NaN,NaN,PF_2,1591858,W_A,NaN,NaN,Inventory
16,8.77,NaN,196967.26100,NaN,NaN,PF_2,1493247,W_C,NaN,NaN,Inventory
21,8.20,NaN,86846.28176,NaN,NaN,PF_2,1915675,W_B,NaN,NaN,Inventory
26,7.12,NaN,203867.86140,NaN,NaN,PF_2,1710785,W_A,NaN,NaN,Inventory
31,8.31,NaN,266745.78290,NaN,NaN,PF_2,1705332,W_C,NaN,NaN,Inventory
36,8.82,NaN,68800.46189,NaN,NaN,PF_2,1834977,W_B,NaN,NaN,Inventory
41,7.56,NaN,130721.09240,NaN,NaN,PF_2,1544930,W_A,NaN,NaN,Inventory
46,8.22,NaN,15077.37644,NaN,NaN,PF_2,1825560,W_C,NaN,NaN,Inventory
51,9.20,NaN,81959.14550,NaN,NaN,PF_2,1908273,W_B,NaN,NaN,Inventory
56,7.14,NaN,274215.89840,NaN,NaN,PF_2,1010092,W_A,NaN,NaN,Inventory
61,8.64,NaN,266808.08310,NaN,NaN,PF_2,1596820,W_C,NaN,NaN,Inventory
66,9.91,NaN,26376.00693,NaN,NaN,PF_2,1943544,W_B,NaN,NaN,Inventory
71,9.88,NaN,238943.88450,NaN,NaN,PF_2,1540951,W_A,NaN,NaN,Inventory
76,9.62,NaN,179008.77600,NaN,NaN,PF_2,1361836,W_C,NaN,NaN,Inventory
81,9.76,NaN,116450.01390,NaN,NaN,PF_2,1441235,W_B,NaN,NaN,Inventory
86,7.45,NaN,205266.85910,NaN,NaN,PF_2,1104927,W_A,NaN,NaN,Inventory
91,9.14,NaN,236844.36950,NaN,NaN,PF_2,1542470,W_C,NaN,NaN,Inventory
96,8.81,NaN,50657.15473,NaN,NaN,PF_2,1715505,W_B,NaN,NaN,Inventory

12. Find the daily standard deviation of the returns of SPY for March of 2021.

In [12]:
spy[(pd.to_datetime(spy.Date).dt.year==2021)&(pd.to_datetime(spy.Date).dt.month==3)]['2day_Return_%'].std()

0.01374284804726216